


@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

body {
    margin: 0;
    overflow-x: hidden;
}

.diagonal {
    background-color: #0380a6;
    clip-path: polygon(0 60%, 100% 0, 100% 100%, 0 100%);
    transform: rotate(180deg);
    height: 65vh;
    width: 100%;
}

.top-container {
    position: absolute;
    right: 100%;
    display: flex;
    width: 100%;
}

.first-image {
    background-image: url("./images/grinding.jpg");
    background-size: cover;
    background-position: center;
    box-shadow: -3px 3px 20px #1a1a1a,
        3px -3px 20px #1a1a1a;
    display: flex;
    justify-content: center;
    align-items: end;

}

.about-card {
    background-color: #f3ecec;
    box-shadow: 3px 3px 20px #0c0c0c,
        0 -3px 20px #0c0c0c;
    display: flex;
    flex-direction: column;
}

.svg-duo {
    display: flex;
    justify-content: flex-end;
}

h1, h2 {
    font-family: "Playfair Display", serif;
    color: #FFFFFF;
    font-style: italic;
    font-weight: lighter;
}

h2 {
    color: #000000;
    font-style: normal;
}

p {
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
    color: #414143
}

span {
    font-family: "Roboto", sans-serif;
}

.mid-container {
    display: grid;
    gap: clamp(2rem, 3vw, 4rem);
}

.project-card {
    box-shadow: -1px 1px 10px #1a1a1a,
    1px -1px 10px #1a1a1a;
    height: 100%;
    transition: transform 0.3s ease-in-out;
}

.project-card:hover {
    transform: scale(1.02);
}


.card-img {
    object-fit: contain;
    object-position: center;
}

.bg-1 {
    background-size: cover;
    background-position: top;
    background-image: url("./images/project1.png");
}
.bg-2 {
    background-size: contain;
    background-position: center;
    background-image: url("./images/project2.png");
}
.bg-3 {
    background-size: cover;
    background-position: center;
    background-image: url("./images/project3.png");
}
.bg-4 {
    background-size: cover;
    background-position: center;
    background-image: url("./images/project4.png");
}
.bg-5 {
    background-size: cover;
    background-repeat:  no-repeat;
    background-position: top;
    background-image: url("./images/project5.png");
}
.bg-6 {
    background-size: cover;
    background-position: left;
    background-image: url("./images/project6.png");
}

.project-title {
    padding: 1rem;
    height: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottom-container {
    background-color: #0380a6;
    display: flex;
}

.svg-text {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: white;

}

.bottom-left-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

h1 {
    position: relative;
}

@media (max-width: 600px) {

}

@media (max-width: 1199px) {
    .top-container {
        left: 3%;
        top: 3rem;
        display: block;
        z-index: 10;
    }

    .first-image {
        width: 47vw;
        height: 52vh;
        z-index: 2;
        float: left;
        position: relative;
        margin-right: 2rem;
    }

    h1 {
        font-size: clamp(3rem, 7vw, 5rem);
        position: absolute;
        bottom: 70%;
        left: 87%;
        width: 100%;
    }

    h2 {
        font-size: clamp(1rem, 4vw, 2.5rem);
        padding: clamp(1rem, 2vw, 3.5rem);
    }

    .about-card {
        height: 60vh;
        width: 80vw;
        margin-top: 8rem;
        z-index: 1;
        display: block;
        position: static;
        padding: 10px;
        margin-left: 80px;
    }

    .about-card>h2 {
        font-size: clamp(1.5rem, 5vw, 3rem);
        margin-left: 46vw;
    }

    .about-card>p {
        font-size: clamp(1.4rem, 2vw, 2rem);
        width: auto;
    }

    .svg-duo {
        margin: 2rem 6rem 1rem 0;
        gap: 1rem;
    }

    .svg-duo>a {
        width: 100%;
        height: auto;
        max-width: 40px;
    }

    .myWork-header {
        margin-top: 14.5rem;
        margin-left: 80px;
        padding: 0;
    }

    .mid-container {
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        margin-left: 80px;
        margin-right: 80px;
        width: auto;
    }

    .project-card {
        height: 27rem;
    }

    .image-container {
        width: 100%;
        height: 59%;
        border-bottom: 2px solid #606060;
    }

    .project-title>a {
        width: 100%;
        height: auto;
        max-width: 24px;
        margin-top: 5px;
    }

    .project-title>span {
        font-family: "playfair Display", serif;
        font-size: clamp(0.5rem, 1.5vw, 1.5rem);
    }

    .project-info>p{
        font-size: clamp(0.3rem, 1vw, 1rem);
        width: clamp(13rem, 25vw, 25rem);
        margin: auto;
        margin-left: 18px;
        height: clamp(8rem, 10vw, 14rem);
        overflow: clip;
    }

    .bottom-container {
        margin-top: 120px;
        height: 60vh;
    }

    .bottom-left-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 80px;
    }

    .bottom-left-content>h2 {
        color: white;
        padding: 0;
        margin-top: 80px;
    }

    .bottom-image {
        height: clamp(450px, 30% ,550px);
        width: clamp(650px, 45% , 750px);
        margin-top: 65px;
        margin-right: 80px;
        margin-left: auto;
        background-image: url("./images/smiling.jpg");
        background-size: cover;
        background-position: center;
    }

    .bottom-left-content>span {
        display: inline-block;
        font-size: clamp(0.4rem, 1.4vw, 1.4rem);
        width: clamp(13rem, 25vw, 25rem);
        font-family: "Roboto", sans-serif;
        color: white;
        line-height: 1.5;
    }

    .svg-text>svg {
        margin-top: 1rem;
        width: 20px;
        height: 20px;
    }

    .svg-text>span {
        font-size: clamp(0.4rem, 1.4vw, 1.4rem);
        width: clamp(13rem, 25vw, 25rem);
        margin-top: 1rem;
    }









}

@media (min-width: 1200px) {
    .top-container {
        left: 5rem;
        top: 5rem;
    }

    .first-image {
        width: 38vw;
        height: 55vh;
        display: flex;
        justify-content: center;
        align-items: end;

    }

    h1 {
        font-size: clamp(1.5rem, 5vw, 3rem);
    }

    h2 {
        font-size: clamp(1rem, 4vw, 2.5rem);
        padding: clamp(1rem, 2vw, 3.5rem);
    }

    .about-card {
        height: 47vh;
        width: 53vw;
        margin-top: 30px;
    }

    .about-card>p {
        font-size: clamp(0.4rem, 1.4vw, 1.4rem);
        margin: auto;
        margin-left: clamp(0.8rem, 1.8vw, 1.9rem);
        width: clamp(30rem, 45vw, 60rem);
    }

    .svg-duo {
        margin: 2rem 6rem 1rem 0;
        gap: 1rem;
    }

    .svg-duo>a {
        width: 100%;
        height: auto;
        max-width: 40px;
    }

    .myWork-header {
        margin-top: 4.5rem;
        margin-left: 80px;
        padding: 0;
    }

    .mid-container {
        grid-template-columns: repeat(auto-fit, minmax(315px, 1fr));
        margin-left: 80px;
        margin-right: 80px;
        width: auto;
    }

    .project-card {
        height: 27rem;
    }

    .image-container {
        width: 100%;
        height: 59%;
        border-bottom: 2px solid #606060;
    }

    .project-title>a {
        width: 100%;
        height: auto;
        max-width: 24px;
        margin-top: 5px;
    }

    .project-title>span {
        font-family: "playfair Display", serif;
        font-size: clamp(0.5rem, 1.5vw, 1.5rem);
    }

    .project-info>p{
        font-size: clamp(0.3rem, 1vw, 1rem);
        width: clamp(13rem, 25vw, 25rem);
        margin: auto;
        margin-left: 18px;
        height: clamp(8rem, 10vw, 14rem);
        overflow: clip;
    }

    .bottom-container {
        margin-top: 120px;
        height: 60vh;
    }

    .bottom-left-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 80px;
    }

    .bottom-left-content>h2 {
        color: white;
        padding: 0;
        margin-top: 80px;
    }

    .bottom-image {
        height: clamp(450px, 30% ,550px);
        width: clamp(650px, 45% , 750px);
        margin-top: 65px;
        margin-right: 80px;
        margin-left: auto;
        background-image: url("./images/smiling.jpg");
        background-size: cover;
        background-position: 10% 25%;
    }

    .bottom-left-content>span {
        display: inline-block;
        font-size: clamp(0.4rem, 1.4vw, 1.4rem);
        width: clamp(13rem, 25vw, 25rem);
        font-family: "Roboto", sans-serif;
        color: white;
        line-height: 1.5;
    }

    .svg-text>svg {
        margin-top: 1rem;
        width: 20px;
        height: 20px;
    }

    .svg-text>span {
        font-size: clamp(0.4rem, 1.4vw, 1.4rem);
        width: clamp(13rem, 25vw, 25rem);
        margin-top: 1rem;
    }

}

@media (min-width: 1550px) {

    .mid-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        gap: clamp(2rem, 3vw, 4rem);
    }

    .project-info>p {
        width: clamp(10rem, 20vw, 20rem);
        margin: auto;
        margin-left: 18px;
        height: clamp(9rem, 12vw, 15rem);
        overflow: scroll;
    }
}